*{
    margin: 0px;
    padding: 0px;
    color: white;
}

h1{
    font-size: 20px;
    color: white;
}

h2{
        -webkit-text-stroke-width: 0.8px;
        -webkit-text-stroke-color: white;
        color: black;
        font-size: 50px;
}

nav{
    background-color: black;
}

.nav-link{
    color: white;
}

.selected-work{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: black;
    display: block;
}

.selected-work-list-desktop{
    margin-top: 110px;
}

.selected-work-list-first, .selected-work-list-second, .selected-work-list-third{
    margin-bottom: 180px;
}

.mobile{
    display: none;
}

.desktop{
    display: block;
}

.index{
    position: absolute;
    top: 100%;
    z-index: 10;
    color: white;
}


thead{
 visibility: hidden;
 color: white;
 display: flex;
 height: 20px;
}

td{
    color: white;
    
}

.index-title{
    visibility: visible;
    position: absolute;
    top: -50px;
    font-size: 30px;
    font-weight: normal;
    margin-bottom: -50px;
}